.video-source {
    text-align: center;
    font-weight: bold;
}

@font-face { 
    font-family: Digital; src: url('./DS-DIGIT.TTF'); 
} 

#lcdtext {
    font-family: Digital;
    background-color: #7E8671;
    text-shadow: 1px 1px #444444;
}


#retake_button {
    position: absolute; 
    top: 0; 

    left: 0; 
    /* transform: translateX(-20%);  */
    
    z-index: 2;
    transition: left 0.5s ease;
}

#retakecovertop {
    z-index: 3;
}

#retakecoverbottom {
    position: absolute; 
    top: 0; 
    left: 70%; 
    transform: translateX(-50%); 
    z-index: 1;
}

#take,
#ok_button {
    max-width: 80px;
}

#changemedia {
    max-width: 70px;
}

#okdiv {
    display: flex;
    align-items: center;
    justify-content: center;    
}





/* dial */

#dial,
#dialbox {
    max-width: 160px;
    /* width: 50%; 
    height: 50% */
}

#dialbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}

#dialmark2 {
    height: 1px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 2px white solid;
    min-width: 20px; 
    position: relative; 
    top: 0; 
    left: -10%; 
    
    /* transform: translateX(-50%);  */
}